<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal</Template>
  <Pages>15</Pages>
  <Words>306</Words>
  <Characters>1137</Characters>
  <Lines>11</Lines>
  <Paragraphs>3</Paragraphs>
  <TotalTime>35</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>1457</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.26880_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
