<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" xmlns:wpsCustomData="http://www.wps.cn/officeDocument/2013/wpsCustomData" mc:Ignorable="w14">
  <w:zoom w:percent="100"/>
  <w:bordersDoNotSurroundHeader w:val="0"/>
  <w:bordersDoNotSurroundFooter w:val="0"/>
  <w:documentProtection w:enforcement="0"/>
  <w:defaultTabStop w:val="720"/>
  <w:displayHorizontalDrawingGridEvery w:val="1"/>
  <w:displayVerticalDrawingGridEvery w:val="1"/>
  <w:noPunctuationKerning w:val="1"/>
  <w:characterSpacingControl w:val="doNotCompress"/>
  <w:footnotePr>
    <w:footnote w:id="0"/>
    <w:footnote w:id="1"/>
  </w:footnotePr>
  <w:endnotePr>
    <w:endnote w:id="0"/>
    <w:endnote w:id="1"/>
  </w:endnotePr>
  <w:compat>
    <w:doNotExpandShiftReturn/>
    <w:doNotWrapTextWithPunct/>
    <w:doNotUseEastAsianBreakRules/>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="15"/>
    <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="differentiateMultirowTableHeaders" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00B43690"/>
    <w:rsid w:val="00005CAE"/>
    <w:rsid w:val="00015FB8"/>
    <w:rsid w:val="000254E6"/>
    <w:rsid w:val="00035E0A"/>
    <w:rsid w:val="00041213"/>
    <w:rsid w:val="00047DA9"/>
    <w:rsid w:val="00063135"/>
    <w:rsid w:val="00066DEC"/>
    <w:rsid w:val="0007193F"/>
    <w:rsid w:val="00073DE5"/>
    <w:rsid w:val="000807D0"/>
    <w:rsid w:val="000C697E"/>
    <w:rsid w:val="000D2930"/>
    <w:rsid w:val="000F6C07"/>
    <w:rsid w:val="0010476B"/>
    <w:rsid w:val="0010703E"/>
    <w:rsid w:val="001165BE"/>
    <w:rsid w:val="0012017E"/>
    <w:rsid w:val="00133CD7"/>
    <w:rsid w:val="00135367"/>
    <w:rsid w:val="00143D18"/>
    <w:rsid w:val="00155CBD"/>
    <w:rsid w:val="00181AEF"/>
    <w:rsid w:val="001844BC"/>
    <w:rsid w:val="001B41BA"/>
    <w:rsid w:val="001C1671"/>
    <w:rsid w:val="001C6BA6"/>
    <w:rsid w:val="001D12C1"/>
    <w:rsid w:val="001E197C"/>
    <w:rsid w:val="001E33AD"/>
    <w:rsid w:val="001F0FBB"/>
    <w:rsid w:val="001F233D"/>
    <w:rsid w:val="001F3212"/>
    <w:rsid w:val="0021052B"/>
    <w:rsid w:val="00224084"/>
    <w:rsid w:val="00224FB2"/>
    <w:rsid w:val="00243869"/>
    <w:rsid w:val="00255167"/>
    <w:rsid w:val="00272850"/>
    <w:rsid w:val="0027424F"/>
    <w:rsid w:val="00274C73"/>
    <w:rsid w:val="00287A2A"/>
    <w:rsid w:val="00290321"/>
    <w:rsid w:val="00294A86"/>
    <w:rsid w:val="002B7B70"/>
    <w:rsid w:val="002C1B60"/>
    <w:rsid w:val="002D15B7"/>
    <w:rsid w:val="002F22A7"/>
    <w:rsid w:val="00357076"/>
    <w:rsid w:val="003813BD"/>
    <w:rsid w:val="003906AF"/>
    <w:rsid w:val="00393C12"/>
    <w:rsid w:val="003A177B"/>
    <w:rsid w:val="003B6D6C"/>
    <w:rsid w:val="003C6259"/>
    <w:rsid w:val="003E237A"/>
    <w:rsid w:val="003E2BE4"/>
    <w:rsid w:val="003F2B2E"/>
    <w:rsid w:val="00412C22"/>
    <w:rsid w:val="004315F7"/>
    <w:rsid w:val="00444188"/>
    <w:rsid w:val="00475D47"/>
    <w:rsid w:val="00476F48"/>
    <w:rsid w:val="00483768"/>
    <w:rsid w:val="0049601D"/>
    <w:rsid w:val="004A7B81"/>
    <w:rsid w:val="004D331F"/>
    <w:rsid w:val="004D46B0"/>
    <w:rsid w:val="004D535D"/>
    <w:rsid w:val="004F26C1"/>
    <w:rsid w:val="00501542"/>
    <w:rsid w:val="005248E3"/>
    <w:rsid w:val="00534A47"/>
    <w:rsid w:val="005524B2"/>
    <w:rsid w:val="00565441"/>
    <w:rsid w:val="00586C71"/>
    <w:rsid w:val="0059458A"/>
    <w:rsid w:val="005979BA"/>
    <w:rsid w:val="005B00C6"/>
    <w:rsid w:val="005B2CA4"/>
    <w:rsid w:val="005B4EDC"/>
    <w:rsid w:val="005B75AF"/>
    <w:rsid w:val="005C5414"/>
    <w:rsid w:val="005C60FE"/>
    <w:rsid w:val="005C7AEE"/>
    <w:rsid w:val="005E3789"/>
    <w:rsid w:val="005E78FE"/>
    <w:rsid w:val="005F4D6E"/>
    <w:rsid w:val="005F7B4A"/>
    <w:rsid w:val="00617919"/>
    <w:rsid w:val="00635364"/>
    <w:rsid w:val="00637C3D"/>
    <w:rsid w:val="00642897"/>
    <w:rsid w:val="00651262"/>
    <w:rsid w:val="006517E4"/>
    <w:rsid w:val="006612FE"/>
    <w:rsid w:val="006708FD"/>
    <w:rsid w:val="00683E13"/>
    <w:rsid w:val="006907AF"/>
    <w:rsid w:val="00692C96"/>
    <w:rsid w:val="006A1C4B"/>
    <w:rsid w:val="006A3E45"/>
    <w:rsid w:val="006C7605"/>
    <w:rsid w:val="006E05B6"/>
    <w:rsid w:val="006E5115"/>
    <w:rsid w:val="006F60E8"/>
    <w:rsid w:val="00700078"/>
    <w:rsid w:val="00700612"/>
    <w:rsid w:val="00721E32"/>
    <w:rsid w:val="007260A4"/>
    <w:rsid w:val="00727076"/>
    <w:rsid w:val="007326C8"/>
    <w:rsid w:val="00740BA0"/>
    <w:rsid w:val="00745235"/>
    <w:rsid w:val="00765C1D"/>
    <w:rsid w:val="007A6E3D"/>
    <w:rsid w:val="007B10F8"/>
    <w:rsid w:val="007C0129"/>
    <w:rsid w:val="007E34D0"/>
    <w:rsid w:val="00823448"/>
    <w:rsid w:val="00826A9C"/>
    <w:rsid w:val="008663A8"/>
    <w:rsid w:val="00880E67"/>
    <w:rsid w:val="00895F0B"/>
    <w:rsid w:val="008A5975"/>
    <w:rsid w:val="008B3FDA"/>
    <w:rsid w:val="008B6368"/>
    <w:rsid w:val="008D42C2"/>
    <w:rsid w:val="008E6634"/>
    <w:rsid w:val="008F0D4A"/>
    <w:rsid w:val="008F431C"/>
    <w:rsid w:val="00914AE8"/>
    <w:rsid w:val="00915606"/>
    <w:rsid w:val="00931A91"/>
    <w:rsid w:val="0093366A"/>
    <w:rsid w:val="0093396C"/>
    <w:rsid w:val="009371D2"/>
    <w:rsid w:val="00976E8C"/>
    <w:rsid w:val="0098730E"/>
    <w:rsid w:val="009A742E"/>
    <w:rsid w:val="009C27B6"/>
    <w:rsid w:val="009F1134"/>
    <w:rsid w:val="00A05318"/>
    <w:rsid w:val="00A06B9B"/>
    <w:rsid w:val="00A41A49"/>
    <w:rsid w:val="00A42265"/>
    <w:rsid w:val="00A4287B"/>
    <w:rsid w:val="00A6134E"/>
    <w:rsid w:val="00A67E9B"/>
    <w:rsid w:val="00A72169"/>
    <w:rsid w:val="00A758FB"/>
    <w:rsid w:val="00A83C10"/>
    <w:rsid w:val="00A86CD9"/>
    <w:rsid w:val="00A929CB"/>
    <w:rsid w:val="00A93500"/>
    <w:rsid w:val="00AB748F"/>
    <w:rsid w:val="00B20247"/>
    <w:rsid w:val="00B335BF"/>
    <w:rsid w:val="00B43690"/>
    <w:rsid w:val="00B61FCA"/>
    <w:rsid w:val="00BD02E5"/>
    <w:rsid w:val="00BD140A"/>
    <w:rsid w:val="00BD7C0A"/>
    <w:rsid w:val="00BE4877"/>
    <w:rsid w:val="00BF0FAC"/>
    <w:rsid w:val="00C04A05"/>
    <w:rsid w:val="00C2405C"/>
    <w:rsid w:val="00C30CCD"/>
    <w:rsid w:val="00C31909"/>
    <w:rsid w:val="00C31BD9"/>
    <w:rsid w:val="00C36E4F"/>
    <w:rsid w:val="00C40814"/>
    <w:rsid w:val="00C448EF"/>
    <w:rsid w:val="00C51374"/>
    <w:rsid w:val="00C657FE"/>
    <w:rsid w:val="00C71CA5"/>
    <w:rsid w:val="00C73648"/>
    <w:rsid w:val="00CF0042"/>
    <w:rsid w:val="00D018AF"/>
    <w:rsid w:val="00D13AA8"/>
    <w:rsid w:val="00D252AA"/>
    <w:rsid w:val="00D732AE"/>
    <w:rsid w:val="00D81327"/>
    <w:rsid w:val="00D85928"/>
    <w:rsid w:val="00DA2609"/>
    <w:rsid w:val="00DA3563"/>
    <w:rsid w:val="00DB04AF"/>
    <w:rsid w:val="00DB09B7"/>
    <w:rsid w:val="00DC52B9"/>
    <w:rsid w:val="00DD3663"/>
    <w:rsid w:val="00DF2C3C"/>
    <w:rsid w:val="00E123AE"/>
    <w:rsid w:val="00E13631"/>
    <w:rsid w:val="00E215F5"/>
    <w:rsid w:val="00E34E9D"/>
    <w:rsid w:val="00E4507E"/>
    <w:rsid w:val="00E61EDC"/>
    <w:rsid w:val="00E71170"/>
    <w:rsid w:val="00E91177"/>
    <w:rsid w:val="00E94202"/>
    <w:rsid w:val="00EA00C2"/>
    <w:rsid w:val="00EB5C92"/>
    <w:rsid w:val="00EC4265"/>
    <w:rsid w:val="00ED7444"/>
    <w:rsid w:val="00ED7AA1"/>
    <w:rsid w:val="00EF519A"/>
    <w:rsid w:val="00F066BF"/>
    <w:rsid w:val="00F14B21"/>
    <w:rsid w:val="00F222DD"/>
    <w:rsid w:val="00F334F5"/>
    <w:rsid w:val="00F37CBA"/>
    <w:rsid w:val="00F549F3"/>
    <w:rsid w:val="00F554E0"/>
    <w:rsid w:val="00F60C9B"/>
    <w:rsid w:val="00F87F50"/>
    <w:rsid w:val="00F9478B"/>
    <w:rsid w:val="00FA7284"/>
    <w:rsid w:val="00FB1649"/>
    <w:rsid w:val="00FB4984"/>
    <w:rsid w:val="00FC5517"/>
    <w:rsid w:val="00FC5C22"/>
    <w:rsid w:val="00FD4C11"/>
    <w:rsid w:val="00FF4A40"/>
    <w:rsid w:val="00FF56DB"/>
    <w:rsid w:val="01AC264C"/>
    <w:rsid w:val="02C2689F"/>
    <w:rsid w:val="035D7E14"/>
    <w:rsid w:val="039A65F4"/>
    <w:rsid w:val="04330D71"/>
    <w:rsid w:val="06B72B90"/>
    <w:rsid w:val="06E84AE2"/>
    <w:rsid w:val="079274FA"/>
    <w:rsid w:val="090A12E5"/>
    <w:rsid w:val="090C47E8"/>
    <w:rsid w:val="09D26061"/>
    <w:rsid w:val="09E00043"/>
    <w:rsid w:val="0A2E0E82"/>
    <w:rsid w:val="0B673342"/>
    <w:rsid w:val="0DAD4E1B"/>
    <w:rsid w:val="0E5E0E21"/>
    <w:rsid w:val="0F821E7D"/>
    <w:rsid w:val="102130A2"/>
    <w:rsid w:val="115F7210"/>
    <w:rsid w:val="11B17F14"/>
    <w:rsid w:val="11D007C9"/>
    <w:rsid w:val="13363593"/>
    <w:rsid w:val="136775E5"/>
    <w:rsid w:val="14135500"/>
    <w:rsid w:val="14A04D63"/>
    <w:rsid w:val="150E0C1B"/>
    <w:rsid w:val="15E553FB"/>
    <w:rsid w:val="16F60FF8"/>
    <w:rsid w:val="17DB07D7"/>
    <w:rsid w:val="18A05273"/>
    <w:rsid w:val="18DE63DD"/>
    <w:rsid w:val="18E14395"/>
    <w:rsid w:val="1C566A57"/>
    <w:rsid w:val="1CDD55E8"/>
    <w:rsid w:val="1D40568D"/>
    <w:rsid w:val="1EA33C4F"/>
    <w:rsid w:val="1ED146E2"/>
    <w:rsid w:val="1EE537BF"/>
    <w:rsid w:val="20DD5AF8"/>
    <w:rsid w:val="214210A0"/>
    <w:rsid w:val="214E3823"/>
    <w:rsid w:val="21555156"/>
    <w:rsid w:val="218D51B0"/>
    <w:rsid w:val="21E45026"/>
    <w:rsid w:val="22823C2A"/>
    <w:rsid w:val="235C138F"/>
    <w:rsid w:val="23CC456F"/>
    <w:rsid w:val="242C61E4"/>
    <w:rsid w:val="25502AC4"/>
    <w:rsid w:val="25633CE3"/>
    <w:rsid w:val="25DD396C"/>
    <w:rsid w:val="267628A6"/>
    <w:rsid w:val="28792077"/>
    <w:rsid w:val="28963BA5"/>
    <w:rsid w:val="28CC407F"/>
    <w:rsid w:val="28EC32AF"/>
    <w:rsid w:val="2A743136"/>
    <w:rsid w:val="2BFE4851"/>
    <w:rsid w:val="2D11017C"/>
    <w:rsid w:val="2F727CE6"/>
    <w:rsid w:val="2FD0227E"/>
    <w:rsid w:val="306233EC"/>
    <w:rsid w:val="30956B44"/>
    <w:rsid w:val="321F05E1"/>
    <w:rsid w:val="32832AEC"/>
    <w:rsid w:val="33381316"/>
    <w:rsid w:val="33C643FD"/>
    <w:rsid w:val="373C1EC0"/>
    <w:rsid w:val="38D00642"/>
    <w:rsid w:val="39964B88"/>
    <w:rsid w:val="3CD57D9E"/>
    <w:rsid w:val="3CFD619E"/>
    <w:rsid w:val="3E043D34"/>
    <w:rsid w:val="3E3826A3"/>
    <w:rsid w:val="3E5157CB"/>
    <w:rsid w:val="3EE250BA"/>
    <w:rsid w:val="3F322447"/>
    <w:rsid w:val="3F732557"/>
    <w:rsid w:val="3F9F5C68"/>
    <w:rsid w:val="402A5051"/>
    <w:rsid w:val="403B5DD1"/>
    <w:rsid w:val="47241DC7"/>
    <w:rsid w:val="493F7B37"/>
    <w:rsid w:val="49C51095"/>
    <w:rsid w:val="4B2A63DE"/>
    <w:rsid w:val="4E4D0205"/>
    <w:rsid w:val="514A57CD"/>
    <w:rsid w:val="51CF7E46"/>
    <w:rsid w:val="521627B9"/>
    <w:rsid w:val="53F24649"/>
    <w:rsid w:val="54456651"/>
    <w:rsid w:val="54AF027F"/>
    <w:rsid w:val="553D2884"/>
    <w:rsid w:val="58EF7EF3"/>
    <w:rsid w:val="595B4E18"/>
    <w:rsid w:val="5A432DA3"/>
    <w:rsid w:val="5BFE2871"/>
    <w:rsid w:val="5CC85FC5"/>
    <w:rsid w:val="5CE24971"/>
    <w:rsid w:val="5D1257AE"/>
    <w:rsid w:val="5DA85633"/>
    <w:rsid w:val="5E086D76"/>
    <w:rsid w:val="5E222D7F"/>
    <w:rsid w:val="5F840E4A"/>
    <w:rsid w:val="60553965"/>
    <w:rsid w:val="620F67EC"/>
    <w:rsid w:val="64EC4A56"/>
    <w:rsid w:val="671D4B10"/>
    <w:rsid w:val="679104F6"/>
    <w:rsid w:val="67CF2561"/>
    <w:rsid w:val="68DA0494"/>
    <w:rsid w:val="6A34524E"/>
    <w:rsid w:val="6CB674EB"/>
    <w:rsid w:val="6F5C2C41"/>
    <w:rsid w:val="726D3849"/>
    <w:rsid w:val="72BB13CA"/>
    <w:rsid w:val="72FA6930"/>
    <w:rsid w:val="742A7022"/>
    <w:rsid w:val="76954F1D"/>
    <w:rsid w:val="77A70DAE"/>
    <w:rsid w:val="7AB349DD"/>
    <w:rsid w:val="7C070787"/>
    <w:rsid w:val="7EC041FB"/>
  </w:rsids>
  <m:mathPr>
    <m:mathFont m:val="Cambria Math"/>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="en-US" w:eastAsia="zh-CN"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:shapeDefaults>
    <o:shapedefaults fillcolor="#FFFFFF" fill="t" stroke="t">
      <v:fill on="t" focussize="0,0"/>
      <v:stroke color="#000000"/>
    </o:shapedefaults>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <mc:AlternateContent>
    <mc:Choice Requires="wpsCustomData">
      <wpsCustomData:typoFeatureVersion val="1"/>
    </mc:Choice>
  </mc:AlternateContent>
</w:settings>
